{% from 'macros.html' import cake %}

<!DOCTYPE html>
<html>
<head>
  <title>Cake Recipe</title>
</head>
<body>
  <h1>Welcome to the Cake Recipe!</h1>
  
  {{ cake(['Flour', 'Eggs', 'Sugar', 'Butter', 'Vanilla']) }}
  
  <p>Автор: Someone</p>
</body>
</html>
























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































