<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        
        {% macro get_sum(varargs) %}
        {% set sum = 0 %}
        {% for arg in varargs %}
            {% set sum = sum + arg %}
        {% endfor %}
        <p>{{ sum }}</p>
        {% endmacro %}


        {% macro get_factorial_recursive(n) %}
            {% if n <= 1 %}
                1
            {% else %}
                {{ n * get_factorial_recursive(n - 1) | int }}
            {% endif %}
        {% endmacro %}

        {{ 5 }}! = {{ get_factorial_recursive(5) }}
        
    </body>
</html>

























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































